<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>lxeKdhxxT9eLhT3edHmkFAh0Q</string>
	<key>consumer_Secret</key>
	<string>CItoQ7dj2FUaK0FwYQI1tsLBPz1onJ78ol5mIjRfo8Xi7MawzP</string>
</dict>
</plist>
